Repository villetakanen/pelilauta-17: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

check:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

test:unit:
  run: 'npx vitest --run
  
    '

fix: small build polish
  .github/copilot-instructions.md
  README.md
  netlify.toml
  package.json
Due: check

fix: client side channel caching pbi
  docs/pbi/004-convert-channels-to-client-cached.md
  package.json
  pnpm-lock.yaml
Due: check

fix: channel list to listings
  docs/pbi/004-convert-channels-to-client-cached.md
  src/components/server/ChannelApp/ChannelInfoRow.astro
  src/components/server/ChannelApp/ChannelsApp.astro
  src/components/server/ChannelApp/ChannelsList.astro
  src/components/server/ChannelApp/channelList/ChannelListInfoCell.astro
  src/pages/api/meta/channels.json.ts
Due: check, test:unit

fix: forum pages use new layout styles
  package.json
  pnpm-lock.yaml
  src/components/server/ChannelApp/ChannelApp.astro
  src/components/server/ChannelApp/ChannelInfoSection.astro
  src/components/server/ChannelApp/ThreadListItem.astro
Due: check

fix: moved sentry to client side, building for edge
  astro.config.mjs
  docs/sentry-client-integration.md
  package.json
  pnpm-lock.yaml
  src/components/server/BaseHead/BaseHead.astro
  src/utils/client/sentry.ts
Due: check, test:unit

fix: seo block removed from the front page
  .github/copilot-instructions.md
  package.json
  src/pages/index.astro
Due: check

fix: ready for publishing
  package.json
  src/components/server/ui/BackgroundPoster.astro
Due: check

fix: ux and i18n polish
  package.json
  src/components/svelte/characters/CharactersFab.svelte
  src/components/svelte/characters/CreateCharacterForm.svelte
  src/components/svelte/sites/PageFabs.svelte
  src/docs/80-release-notes.md
  src/locales/en/site.ts
  src/locales/fi/site.ts
  src/pages/create/character.astro
  src/pages/sites/[siteKey]/characters.astro
  src/utils/client/sentry.ts
Due: check, test:unit

fix: front page updates planned
  docs/pbi/005-front-page-performance-optimization.md
Due: none

fix: front page optimization, phase 1
  docs/pbi/005-front-page-performance-optimization.md
  netlify.toml
  package.json
  src/pages/api/meta/channels.json.ts
  src/pages/api/sites/index.ts
  src/pages/api/threads.json.ts
  tooling/warm-cache.mjs
Due: check, test:unit

fix: rss caching implemented
  docs/pbi/005-front-page-performance-optimization.md
  package.json
  pnpm-lock.yaml
  src/pages/api/external/rss/[feedKey].json.ts
Due: check, test:unit

fix: linter and copilot pr
  src/components/server/ChannelApp/ChannelApp.astro
  src/components/server/ChannelApp/ChannelInfoRow.astro
  src/pages/api/external/rss/[feedKey].json.ts
  tooling/remove-ts-aliases.mjs
Due: check, test:unit

fix: pre-release polish
  e2e/create-thread.spec.ts
  e2e/wait-for-auth.ts
  src/locales/en/actions.ts
  src/locales/en/index.ts
  src/locales/fi/app.ts
  src/pages/api/meta/channels.json.ts
  src/pages/create/thread.astro
Due: check, test:unit

fix: release info
  package.json
  src/docs/80-release-notes.md
Due: check

fix: removed depr configs
  vercel.json
Due: check

fix: caching works from top to bottom
  netlify.toml
  package.json
Due: check

fix: channels page optimization pbi
  docs/pbi/006-channels-page-performance-optimization.md
  netlify.toml
Due: none

fix: forum page ssr loading
  docs/pbi/006-channels-page-performance-optimization.md
  e2e/channels.spec.ts
  src/components/server/ChannelApp/ChannelInfoRow.astro
  src/components/server/ChannelApp/ChannelsApp.astro
  src/components/server/ChannelApp/ChannelsList.astro
  src/components/server/ChannelApp/channelList/ChannelListInfoCell.astro
  src/docs/80-release-notes.md
  src/pages/api/channels-with-stats.json.ts
  src/pages/channels/index.astro
  src/schemas/ChannelSchema.ts
  src/utils/server/channels.ts
Due: check, test:unit

fix: release
  package.json
Due: check

fix: font loading times
  docs/pbi/007-eliminate-render-blocking-resources.md
  package.json
  src/components/server/BaseHead/Fonts.astro
  src/docs/80-release-notes.md
  src/overrides.css
Due: check

fix: include 300 for headings
  src/components/server/BaseHead/Fonts.astro
Due: none

fix: cyan updates
  package.json
  pnpm-lock.yaml
  src/docs/80-release-notes.md
Due: check

fix: site frontpage
  docs/pbi/008-site-frontend-performance-optimization.md
  e2e/site-page.spec.ts
  netlify.toml
  src/components/svelte/sites/SiteStoreInitializer.svelte
  src/components/svelte/sites/handouts/HandoutsApp.svelte
  src/components/svelte/sites/import/ImportApp.svelte
  src/firebase/server/sites.ts
  src/pages/api/sites/[siteKey]/index.ts
  src/pages/api/sites/[siteKey]/pages/[pageKey].json.ts
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/index.astro
  src/stores/site/index.ts
  tooling/remove-ts-aliases.cjs
  tooling/remove-ts-aliases.mjs
Due: check, test:unit

fix: cyan ds font swap
  .github/copilot-instructions.md
  package.json
  pnpm-lock.yaml
  src/components/server/BaseHead/BaseHead.astro
  src/components/server/BaseHead/EditorHead.astro
  src/components/server/BaseHead/Fonts.astro
  src/docs/80-release-notes.md
Due: check

fix: page cache purge on edit phase 1
  docs/pbi/009-netlify-cache-purging-on-content-updates.md
  e2e/init-test-db.js
  e2e/site-page.spec.ts
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/index.astro
  src/utils/cache-tags.ts
  src/utils/cache/netlify-cache-tags.ts
Due: check, test:unit

fix: purge in place
  e2e/cache-purging.spec.ts
  src/env.d.ts
  src/firebase/client/cache/purgeCacheHelpers.ts
  src/firebase/client/page/setPage.ts
  src/firebase/client/page/updatePage.ts
  src/firebase/client/site/updateSite.ts
  src/lib/server/content-hooks.ts
  src/lib/server/netlify-cache.ts
  src/pages/api/cache/purge-page.ts
  src/pages/api/cache/purge-site.ts
  test/lib/server/content-hooks.test.ts
  test/lib/server/netlify-cache.test.ts
Due: check, test:unit

fix: linter and flowtime to page reload
  e2e/cache-purging.spec.ts
  e2e/init-test-db.js
  e2e/site-page.spec.ts
  package.json
  src/components/svelte/page-editor/PageEditorForm.svelte
  src/docs/80-release-notes.md
  src/env.d.ts
  src/firebase/client/cache/purgeCacheHelpers.ts
  src/firebase/client/page/setPage.ts
  src/firebase/client/page/updatePage.ts
  src/firebase/client/site/updateSite.ts
  src/lib/server/content-hooks.ts
  src/lib/server/netlify-cache.ts
  src/pages/api/cache/purge-page.ts
  src/pages/api/cache/purge-site.ts
  src/pages/sites/[siteKey]/[pageKey]/index.astro
  src/pages/sites/[siteKey]/index.astro
  src/utils/cache-tags.ts
  src/utils/cache/netlify-cache-tags.ts
  test/lib/server/content-hooks.test.ts
  test/lib/server/netlify-cache.test.ts
Due: check, test:unit

fix: up cyan-css
  package.json
  pnpm-lock.yaml
Due: check

fix: added gemini.md
  GEMINI.md
  docs/pbi/010-token-based-account-state.md
Due: none

fix: updated the PBI after initial solution turned out the be too complex
  docs/pbi/010-token-based-account-state.md
Due: none

feat: token based auth drop 1
  docs/pbi/010-token-based-account-state.md
  e2e/cache-purging.spec.ts
  src/components/svelte/AuthManager.svelte
  src/components/svelte/CreateProfileForm.svelte
  src/components/svelte/EulaForm.svelte
  src/layouts/Page.astro
  src/pages/api/auth/status.ts
  src/pages/api/onboarding/complete-eula.ts
  src/pages/api/onboarding/complete-profile.ts
  src/pages/create-profile.astro
  src/pages/eula.astro
Due: check, test:unit

fix: auth flow works for legacy users
  e2e/account-creation.spec.ts
  e2e/init-test-db.js
  src/components/svelte/AuthManager.svelte
  src/components/svelte/admin/UserAdmin.svelte
  src/layouts/Page.astro
  src/layouts/PageWithTray.astro
  src/pages/api/admin/purge-user.ts
  src/pages/api/auth/status.ts
Due: check, test:unit

fix: lots of regressions and flow polish
  e2e/account-creation.spec.ts
  e2e/init-test-db.js
  src/components/server/BaseTail.astro
  src/components/svelte/AuthManager.svelte
  src/components/svelte/CreateProfileForm.svelte
  src/components/svelte/EulaForm.svelte
  src/components/svelte/admin/UserAdmin.svelte
  src/components/svelte/eula/EulaForm.svelte
  src/components/svelte/eula/NickNameInput.svelte
  src/docs/03-eula.md
  src/layouts/Page.astro
  src/layouts/PageWithTray.astro
  src/pages/api/admin/purge-user.ts
  src/pages/api/auth/status.ts
  src/pages/api/onboarding/complete-eula.ts
  src/pages/api/onboarding/complete-profile.ts
  src/pages/create-profile.astro
  src/pages/onboarding.astro
  src/stores/session/index.ts
  tsconfig.json
Due: check, test:unit

fix: test runner to line reporting
  playwright.config.ts
Due: check, test:unit

fix: email login link works
  e2e/account-creation.spec.ts
  e2e/authenticate-e2e.ts
  e2e/create-page.spec.ts
  e2e/page-editor.spec.ts
  e2e/site-page.spec.ts
  src/components/svelte/login/EmailLoginSection.svelte
  src/debug-email-login.ts
  src/utils/logHelpers.ts
Due: check, test:unit

fix: tests support the new login flow
  e2e/01-onboarding-cancel.spec.ts
  e2e/02-account-creation.spec.ts
  e2e/authenticate-e2e.ts
  e2e/onboarding-cancel.spec.ts
  e2e/onboarding-flows.spec.ts
  src/components/svelte/eula/EulaForm.svelte
  src/locales/en/index.ts
  src/locales/en/login.ts
  src/pages/logout.astro
Due: check, test:unit

fix: test polish, settings ssr guard
  .github/copilot-instructions.md
  e2e/01-onboarding-cancel.spec.ts
  e2e/02-account-creation.spec.ts
  e2e/account-creation.spec.ts
  e2e/account-registration.spec.ts
  e2e/authenticate-e2e.ts
  e2e/onboarding-cancel.spec.ts
  e2e/onboarding-flows.spec.ts
  playwright.config.ts
  src/components/svelte/eula/EulaForm.svelte
  src/components/svelte/login/EmailLoginSection.svelte
  src/debug-email-login.ts
  src/locales/en/login.ts
  src/pages/settings.astro
Due: check, test:unit

fix: versioning
  package.json
  src/docs/80-release-notes.md
Due: check

fix: polish for release
  .github/copilot-instructions.md
  src/components/svelte/admin/UserAdmin.svelte
  src/pages/api/onboarding/complete-eula.ts
Due: check, test:unit

fix: email login works again
  src/components/svelte/login/EmailLoginSection.svelte
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:unit: any of: *.{ts,js,{spec,test}.{ts,js}}
