Repository villetakanen/pelilauta-17: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

lefthook.yml:

pre-push:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}
    test:unit:
      glob: '*.{ts,js,{spec,test}.{ts,js}}'
      run: >
        npx vitest --run

commit-msg:
  scripts:
    "commitlint.sh":
      runner: bash

fix: moved to netlify adapter
  astro.config.mjs
  package.json
  pnpm-lock.yaml
Due: check

fix: removed old cyan
  biome.json
  package.json
  pnpm-lock.yaml
  src/components/server/BaseHead/BaseHead.astro
  src/components/server/BaseHead/EditorHead.astro
  src/components/svelte/admin/sheets/SheetStats.svelte
  src/components/svelte/app/SvelteSortableList.svelte
  src/components/svelte/characters/CharacterApp/StatBlock.svelte
  src/components/svelte/frontpage/CardSubscription.svelte
  src/components/svelte/sites/CreateSiteForm.svelte
  src/components/svelte/sites/SiteOptionsApp.svelte
  src/components/svelte/sites/SitePlayersTool.svelte
  src/components/svelte/sites/settings/SiteMetaForm.svelte
  src/components/svelte/sites/toc/SiteCategoriesTool.svelte
  src/components/svelte/threads/ThreadSubscriber.svelte
  src/lit-shims.d.ts
  src/pelilauta-16.code-workspace
  src/utils/client/snackUtils.ts
  tsconfig.json
  vitest.workspace.js
Due: check, test:unit

fix: cyan 4 in place via npm
  package.json
  pnpm-lock.yaml
  src/components/server/BaseHead/BaseHead.astro
Due: check

feat: base build works
  package.json
  pnpm-lock.yaml
  src/components/svelte/app/SvelteSortableList.svelte
  src/components/svelte/characters/CharacterEditorApp/CharacterEditorApp.svelte
  src/components/svelte/frontpage/CardSubscription.svelte
  src/components/svelte/sites/toc/SiteCategoriesTool.svelte
  src/components/svelte/thread-editor/ForkThreadApp.svelte
  src/components/svelte/threads/ThreadSubscriber.svelte
  src/utils/client/snackUtils.ts
  workbox.config.cjs
Due: check, test:unit

fix: netlify npm version
  .nvmrc
  netlify.toml
  package.json
Due: check

fix: build aliases repeated in astro conf
  astro.config.mjs
Due: check

fix(ci): ensure PageWithTray.astro tracked so CI resolves imports
  .gitignore
  src/layouts/PageWithTray.astro
Due: none

fix: ci polish
  src/layouts/PageWithTray.astro
Due: none

feat: myrrys-prop media
  .gitmodules
  src/components/server/BottomBar.astro
  src/layouts/Page.astro
  src/layouts/PageWithTray.astro
Due: none

fix: flex uses cyan-4 age atomics
  src/components/server/ChannelApp/ChannelInfoSection.astro
  src/components/server/FrontPage/TopSitesStream.astro
  src/components/server/FrontPage/TopThreadsStream.astro
  src/components/server/SiteList/SiteListColumn.astro
  src/components/server/SiteList/SiteListItem.astro
  src/components/server/profile/ProfileSiteList.astro
  src/components/server/profile/ProfileSiteListPlaceholder.astro
  src/components/svelte/discussion/DiscussionSection.svelte
  src/components/svelte/sites/import/PreviewImport.svelte
Due: none

fix: public sites list uses site cards as expected
  src/components/server/SiteList/PublicSiteListing.astro
  src/locales/fi/site.ts
  src/pages/sites/index.astro
Due: check, test:unit

chore: release notes
  package.json
  src/docs/80-release-notes.md
  src/layouts/PageWithTray.astro
Due: check

fix: envs vars fix
  e2e/init-test-db.js
  src/firebase/server/index.ts
Due: check, test:unit

fix: user sites uses new comps
  package.json
  src/components/svelte/site-library/UserSitesList.svelte
Due: check

fix: cyan 4 beta 9 findings
  package.json
  pnpm-lock.yaml
  src/components/server/BaseHead/EditorHead.astro
  src/components/server/FrontPage/SyndicateStream/SyndicateStream.astro
  src/components/svelte/admin/sheets/SheetFabs.svelte
  src/components/svelte/frontpage/FrontpageFabs.svelte
Due: check

fix: optimized font import
  src/components/server/BaseHead/BaseHead.astro
  src/components/server/BaseHead/EditorHead.astro
  src/components/server/BaseHead/Fonts.astro
Due: none

fix: updated to cyan-css beta.11
  package.json
  pnpm-lock.yaml
  src/components/server/AppRail.astro
  src/components/server/FabTray.astro
  src/components/server/app/AppFooter.astro
Due: check

fix: latest cyan betas in
  package.json
  pnpm-lock.yaml
  src/components/server/AppRail.astro
Due: check

fix: updated to latest cyan, fixed regression errors
  netlify.toml
  package.json
  pnpm-lock.yaml
  src/components/server/app/ActiveUsersWidget.astro
  src/components/server/app/AppFooter.astro
  src/components/svelte/inbox/InboxNavigationButton.svelte
  src/pages/api/accounts/active.json.ts
  tsconfig.json
Due: check, test:unit

fix: site-tray polish
  src/components/server/SiteApp/SiteTray.astro
Due: none

feat: move to beta, final polish
  package.json
  pnpm-lock.yaml
  src/components/server/SiteApp/SiteTray.astro
  src/components/svelte/frontpage/OnboardingCard.svelte
  src/components/svelte/inbox/InboxNavigationButton.svelte
  src/layouts/PageWithTray.astro
  src/pages/api/accounts/active.json.ts
Due: check, test:unit

fix: reply logic polish and improvements
  src/components/svelte/discussion/ReplyArticle.svelte
  src/components/svelte/discussion/ReplyDialog.svelte
  src/firebase/client/threads/addReply.ts
  src/pages/api/replies/[threadKey]/[replyKey].json.ts
Due: check, test:unit

fix: discussion css fixes
  package.json
  pnpm-lock.yaml
  src/components/svelte/app/AvatarLink.svelte
  src/components/svelte/discussion/ReplyArticle.svelte
Due: check

fix: improved testing
  debug-create-thread.png
  docs/pbi/001-post-add-reply.md
  docs/pbi/002-cn-editor-form-integration.md
  e2e/add-reply.spec.ts
  e2e/authenticate-e2e.ts
  e2e/create-page.spec.ts
  e2e/create-thread.spec.ts
  e2e/front-page.spec.ts
  e2e/init-test-db.js
  e2e/page-editor.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/components/svelte/discussion/ReplyDialog.svelte
  src/components/svelte/thread-editor/ForkThreadApp.svelte
  src/firebase/client/threads/submitReply.ts
  src/pages/api/threads/add-reply.ts
Due: check, test:unit

fix: thread creation logic PBI and findings
  .gitignore
  docs/pbi/003-move-thread-creation-serverside.md
  e2e/add-reply.sp-ec.ts
  e2e/cleanup-test-threads.js
  e2e/create-thread.spec.ts
  src/firebase/client/threads/addThread.ts
  src/utils/client/toFirestoreEntry.ts
Due: check, test:unit

fix: thread creation in serverside
  docs/pbi/003-move-thread-creation-serverside.md
  package.json
  src/firebase/server/index.ts
  src/pages/api/threads/create.ts
  src/utils/server/auth/tokenToUid.ts
  test/api/init-api-test-db.js
  test/api/setup.ts
  test/api/threads-create.test.ts
  vitest.config.js
Due: check, test:unit

fix: thread creation in serverside
  src/pages/api/test/firebase-config.ts
Due: check, test:unit

fix: api tests no longer part of the default test suite
  package.json
  vitest.config.js
Due: check, test:unit

fix: thread creation moved to server side
  docs/pbi/003-move-thread-creation-serverside.md
  e2e/create-thread.spec.ts
  src/components/svelte/thread-editor/submitThreadUpdate.ts
  src/firebase/client/threads/addThread.ts
  src/firebase/client/threads/createThreadApi.ts
Due: check, test:unit

fix: removed depricated code
  src/firebase/client/threads/addThread.ts
Due: check, test:unit

fix: thread creation to server side
  e2e/create-thread.spec.ts
  src/components/server/ChannelApp/channelList/ChannelListInfoCell.astro
  src/components/server/FrontPage/ThreadCard.astro
  src/components/svelte/app/ProfileLink.svelte
  src/schemas/ReplySchema.ts
  src/schemas/ThreadSchema.ts
  test/schemas/ReplySchema.test.ts
  test/schemas/Threads.test.ts
Due: check, test:unit

fix: adding comments works
  e2e/add-reply.sp-ec.ts
  e2e/add-reply.spec.ts
  src/components/svelte/discussion/ReplyDialog.svelte
  src/locales/en/entries.ts
  src/locales/fi/entries.ts
Due: check, test:unit

fix: linter
  e2e/add-reply.spec.ts
  e2e/authenticate-e2e.ts
  e2e/cleanup-test-threads.js
  e2e/create-thread.spec.ts
  e2e/front-page.spec.ts
  e2e/init-test-db.js
  playwright.config.ts
  src/components/svelte/thread-editor/submitThreadUpdate.ts
  src/firebase/client/threads/createThreadApi.ts
  src/firebase/client/threads/submitReply.ts
  src/pages/api/test/firebase-config.ts
  src/pages/api/threads/add-reply.ts
  src/pages/api/threads/create.ts
  src/schemas/ReplySchema.ts
  src/schemas/ThreadSchema.ts
  test/api/init-api-test-db.js
  test/api/setup.ts
  test/api/threads-create.test.ts
  test/schemas/ReplySchema.test.ts
  test/schemas/Threads.test.ts
Due: check, test:unit

fix: versioning
  package.json
Due: check

docs(release): update 18.0.0-beta.2 changelog from feat/beta-fixes
  src/docs/80-release-notes.md
Due: none

fix: peer review findings
  src/components/svelte/app/ProfileLink.svelte
  src/schemas/ThreadSchema.ts
  src/utils/client/toFirestoreEntry.ts
  test/api/setup.ts
Due: check, test:unit

fix: small polish to cyan and to front page
  package.json
  pnpm-lock.yaml
  src/components/server/FrontPage/SyndicateStream/SyndicatePost.astro
  src/components/server/FrontPage/ThreadCard.astro
Due: check
