Repository villetakanen/pelilauta-17: changes, and which lefthook commands are due for each by the changed paths.
All: check, test:unit

check:
  run: npx @biomejs/biome check --no-errors-on-unmatched --files-ignore-unknown=true {push_files}

test:unit:
  run: 'npx vitest --run
  
    '

fix: release notes
  src/docs/80-release-notes.md
Due: none

fix: updated gemini and architecture docs
  GEMINI.md
  src/docs/70-architecture.md
Due: none

fix: small polish to docs prior to release
  README.md
  src/docs/01-index.md
  src/docs/03-eula.md
  src/docs/04-authz.md
  src/docs/70-architecture.md
Due: none

fix: email login url gotcha fixed
  src/components/svelte/login/EmailLoginSection.svelte
Due: none

fix: added pbi 11
  docs/pbi/011-library-page-ssr-authentication-redirect.md
Due: none

fix: cleared up the backlog
  docs/pbi/012-restore-lefthook-configuration.md
  docs/pbi/closed/001-post-add-reply.md
  docs/pbi/closed/002-cn-editor-form-integration.md
  docs/pbi/closed/003-move-thread-creation-serverside.md
  docs/pbi/closed/004-convert-channels-to-client-cached.md
  docs/pbi/closed/005-front-page-performance-optimization.md
  docs/pbi/closed/006-channels-page-performance-optimization.md
  docs/pbi/closed/007-eliminate-render-blocking-resources.md
  docs/pbi/closed/008-site-frontend-performance-optimization.md
  docs/pbi/closed/009-netlify-cache-purging-on-content-updates.md
  docs/pbi/closed/010-token-based-account-state.md
Due: none

fix: pbi-13
  docs/pbi/013-improve-sentry-test-error-button.md
Due: none

fix: simplified lefthook config
  commitlint.config.js
  docs/lefthook.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: check, test:unit

fix: remove commitlint config file
  commitlint.config.js
Due: check, test:unit

fix: updated release notes, updated sentry test func
  docs/pbi/013-improve-sentry-test-error-button.md
  package.json
  src/components/svelte/admin/AdminTray.svelte
  src/components/svelte/admin/SentryTestButton.svelte
  src/docs/80-release-notes.md
Due: check

fix: updated release notes, updated sentry test func
  src/components/svelte/admin/SentryTestButton.svelte
Due: none

fix: package updates
  biome.json
  package.json
  pnpm-lock.yaml
Due: check

fix: release
  package.json
  pnpm-lock.yaml
  src/docs/80-release-notes.md
Due: check

fix: more cyan-updates
  package.json
  pnpm-lock.yaml
  src/components/server/AppRail.astro
  src/components/svelte/admin/AdminNavigationButton.svelte
  src/overrides.css
Due: check

fix: moved to a feature branch
  docs/pbi/014-frequent-session-delete-calls.md
Due: none

fix: cyan updates
  package.json
  pnpm-lock.yaml
Due: check

fix: pbi 14
  package.json
  pnpm-lock.yaml
  src/components/svelte/settings/AuthnSection.svelte
  src/docs/80-release-notes.md
  src/layouts/EditorPage.astro
  src/layouts/ModalPage.astro
  src/layouts/Page.astro
  src/layouts/PageWithTray.astro
  src/stores/session/index.ts
  src/stores/session/profile.ts
Due: check, test:unit

fix: settings page bug smashed and cyan 4 regression fixes
  package.json
  src/components/svelte/inbox/InboxNavigationButton.svelte
  src/components/svelte/settings/ProfileTool.svelte
  src/components/svelte/settings/SettingsApp.svelte
  src/docs/80-release-notes.md
  src/locales/fi/settings.ts
  src/overrides.css
Due: check, test:unit

fix: copilot peer review
  src/components/svelte/inbox/InboxNavigationButton.svelte
  src/components/svelte/settings/ProfileTool.svelte
Due: none

fix: fabs and flex fixes for cds 4
  package.json
  src/components/server/profile/ProfileThreads.astro
  src/components/svelte/characters/library/CharacterLibraryFabs.svelte
  src/components/svelte/site-library/LibrarySitesFabs.svelte
  src/components/svelte/sites/ClocksFabs.svelte
  src/components/svelte/sites/handouts/HandoutFabs.svelte
  src/components/svelte/sites/handouts/HandoutsFabs.svelte
  src/components/svelte/threads/ChannelFabs.svelte
  src/docs/80-release-notes.md
  src/overrides.css
  src/pages/profiles/[uid].astro
  src/stores/session/index.ts
Due: check, test:unit

fix: character and profile ux polish
  package.json
  src/components/server/app/BetaHeader.astro
  src/components/svelte/characters/CharacterApp/CharacterInfo.svelte
  src/components/svelte/characters/create/CharacterSheetSelect.svelte
  src/components/svelte/characters/create/CreateCharacterForm.svelte
  src/components/svelte/characters/create/SiteSelect.svelte
  src/docs/76-sites.md
  src/docs/80-release-notes.md
  src/locales/fi/app.ts
  src/locales/fi/site.ts
  src/overrides.css
  src/pages/create/character.astro
  src/pages/library/characters.astro
  src/pages/sites/[siteKey]/characters.astro
Due: check, test:unit

fix: identified a new regression issue, fix planned
  docs/pbi/015-move-thread-deletion-to-ssr-api.md
  e2e/create-thread.spec.ts
  src/firebase/client/threads/deleteThread.ts
Due: check, test:unit

fix: identified a new regression issue, fix planned
  e2e/create-thread.spec.ts
  src/firebase/client/threads/deleteThread.ts
Due: check, test:unit

fix: delete thread moved to ssr
  e2e/create-thread.spec.ts
  src/components/svelte/threads/ConfirmDeleteThread.svelte
  src/components/svelte/threads/ThreadInfoActions.svelte
  src/docs/80-release-notes.md
  src/firebase/client/threads/deleteThread.ts
  src/firebase/server/admin.ts
  src/pages/api/threads/[threadKey].ts
Due: check, test:unit

fix: copilot findings
  src/overrides.css
  src/pages/create/character.astro
Due: none

feat(characters): character creation wizard
  e2e/create-character.spec.ts
  src/components/svelte/app/StepsToolbar.svelte
  src/components/svelte/characters/create/CreateCharacterForm.svelte
  src/components/svelte/characters/create/CreateCharacterWizard.svelte
  src/components/svelte/characters/create/SheetSelect.svelte
  src/components/svelte/characters/create/SiteSelect.svelte
  src/docs/80-release-notes.md
  src/firebase/client/characters/createCharacter.ts
  src/locales/fi/actions.ts
  src/locales/fi/characters.ts
  src/pages/api/character-sheets/index.ts
  src/pages/api/characters/index.ts
  src/pages/create/character.astro
  src/pages/library/characters.astro
  src/stores/characters/sheetsStore.ts
  test/api/characters-create.test.ts
Due: check, test:unit

fix(characters): character view now uses container-listing
  src/components/svelte/characters/CharacterApp/CharacterApp.svelte
  src/components/svelte/characters/CharacterApp/CharacterHeader.svelte
  src/components/svelte/characters/CharacterApp/CharacterInfo.svelte
  src/docs/80-release-notes.md
Due: none

fix: character builder store cleared
  src/components/svelte/admin/sheets/SheetEditor.svelte
  src/components/svelte/admin/sheets/SheetInfoForm.svelte
  src/components/svelte/admin/sheets/SheetStatGroups.svelte
  src/components/svelte/admin/sheets/SheetStats.svelte
  src/components/svelte/admin/sheets/StatsSection.svelte
  src/overrides.css
  src/schemas/CharacterSheetSchema.ts
  src/stores/characters/characterSheetStore.ts
  test/schemas/CharacterSheetSchema.test.ts
Due: check, test:unit

fix: sheet editor buttons work
  src/components/svelte/admin/sheets/SheetEditor.svelte
  src/components/svelte/admin/sheets/StatsSection.svelte
  src/docs/80-release-notes.md
  src/schemas/CharacterSheetSchema.ts
Due: check, test:unit

feat: sheets show new stat types
  src/components/svelte/admin/sheets/NewGroupCard.svelte
  src/components/svelte/admin/sheets/SheetEditor.svelte
  src/components/svelte/admin/sheets/SheetInfoForm.svelte
  src/components/svelte/characters/CharacterApp/CharacterApp.svelte
  src/components/svelte/characters/CharacterApp/CharacterHeader.svelte
  src/components/svelte/characters/CharacterApp/Stat.svelte
  src/components/svelte/characters/CharacterApp/StatBlock.svelte
  src/docs/80-release-notes.md
  src/overrides.css
  src/pages/characters/[characterKey]/index.astro
  src/schemas/CharacterSheetSchema.ts
Due: check, test:unit

fix: basic sheet functionality proto in place
  docs/pbi/016-semantically-formatted-reactive-character-sheets.md
  src/components/svelte/characters/CharacterApp/Stat.svelte
  src/components/svelte/characters/CharacterApp/StatBlock.svelte
  src/components/svelte/characters/CharacterApp/TextStat.svelte
  src/overrides.css
  src/schemas/CharacterSheetSchema.ts
Due: check, test:unit

fix: sheet functionality updated
  e2e/add-reply.spec.ts
  e2e/character-sheet-editing.spec.ts
  playwright.config.ts
  src/components/svelte/characters/CharacterApp/CharacterHeader.svelte
  src/components/svelte/characters/CharacterApp/NumberStat.svelte
  src/components/svelte/characters/CharacterApp/Stat.svelte
  src/components/svelte/characters/CharacterApp/StatBlock.svelte
  src/components/svelte/characters/CharacterApp/ToggledStat.svelte
  src/stores/characters/characterSheetState.ts
Due: check, test:unit

fix: sheet functionality updated
  e2e/add-reply.spec.ts
  e2e/character-sheet-editing.spec.ts
  playwright.config.ts
Due: check, test:unit

fix: characterstore loading improvements
  src/components/svelte/characters/CharacterApp/CharacterApp.svelte
  src/pages/characters/[characterKey]/index.astro
  src/stores/characters/characterStore.ts
Due: check, test:unit

fix: character fetching and local storage for library
  src/pages/api/characters/index.ts
  src/stores/characters/userCharacters.ts
Due: check, test:unit

fix: refactored edit state to correct store
  src/components/svelte/characters/CharacterApp/CharacterApp.svelte
  src/stores/characters/characterStore.ts
Due: check, test:unit

fix: moving to PBI-17
  docs/pbi/017-refactor-character-schema-to-use-sheet-references.md
  package.json
  pnpm-lock.yaml
  src/schemas/CharacterSheetSchema.ts
Due: check, test:unit

fix: moving to PBI-17
  src/schemas/CharacterSheetSchema.ts
Due: check, test:unit

fix: large character schema refactor
  e2e/character-sheet-editing.spec.ts
  e2e/init-test-db.js
  src/components/svelte/characters/CharacterApp/CharacterApp.svelte
  src/components/svelte/characters/CharacterApp/CharacterArticle.svelte
  src/components/svelte/characters/CharacterApp/CharacterHeader.svelte
  src/components/svelte/characters/CharacterApp/Stat.svelte
  src/components/svelte/characters/CharacterApp/StatBlock.svelte
  src/components/svelte/characters/create/CreateCharacterWizard.svelte
  src/components/svelte/characters/create/SheetSelect.svelte
  src/firebase/server/characters/resolveCharacterWithSheet.ts
  src/pages/characters/[characterKey]/index.astro
  src/schemas/CharacterSchema.ts
  src/schemas/CharacterSheetSchema.ts
  src/stores/characters/characterStore.ts
  src/utils/characters/characterUtils.ts
  test/api/characters-create.test.ts
  test/schemas/CharacterSchema.test.ts
Due: check, test:unit

fix: large character schema refactor
  e2e/character-sheet-editing.spec.ts
  src/components/svelte/characters/CharacterApp/CharacterApp.svelte
  src/components/svelte/characters/CharacterApp/CharacterArticle.svelte
  src/components/svelte/characters/CharacterApp/CharacterHeader.svelte
  src/components/svelte/characters/CharacterApp/Stat.svelte
  src/firebase/server/characters/resolveCharacterWithSheet.ts
  src/pages/characters/[characterKey]/index.astro
  src/stores/characters/characterStore.ts
  src/utils/characters/characterUtils.ts
  test/api/characters-create.test.ts
Due: check, test:unit

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test:unit: any of: *.{ts,js,{spec,test}.{ts,js}}
